<div class="login-container">
    <form (ngSubmit)="onLogin()" class="box">
        <div class="field">
            <label for="username" class="label">Username:</label>
            <div class="control has-icons-left">
                <input type="text" id="username" class="input" [(ngModel)]="username" name="username" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label for="password" class="label">Password:</label>
            <div class="control has-icons-left">
                <input type="password" id="password" class="input" [(ngModel)]="password" name="password" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button type="submit" class="button is-success">Log In</button>
            </div>
            <div class="control">
                <button type="button" class="button is-link" (click)="goToSignup()">Sign Up</button>
            </div>
        </div>
        <p *ngIf="errorMessage" class="error has-text-danger">{{ errorMessage }}</p>
    </form>
</div>