<form [formGroup]="clothingForm" (ngSubmit)="onSubmit()" class="box">

    <div class="field">
        <label class="label" for="name">Nom</label>
        <div class="control">
            <input class="input" id="name" type="text" formControlName="name" placeholder="Nom de l'article">
        </div>
    </div>

    <div class="field">
        <label class="label" for="description">Description</label>
        <div class="control">
            <textarea class="textarea" id="description" formControlName="description"
                placeholder="Description de l'article"></textarea>
        </div>
    </div>

    <div class="field">
        <label class="label" for="image_url">URL de l'image</label>
        <div class="control">
            <input class="input" id="image_url" type="text" formControlName="image_url" placeholder="URL de l'image">
        </div>
    </div>

    <div class="field">
        <label class="label" for="category">Catégorie</label>
        <div class="control">
            <div class="select is-fullwidth">
                <select id="category" formControlName="category_id">
                    <option *ngFor="let category of clothingCategories" [value]="category.id">{{ category.name }}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="field" style="display: none;">
        <div class="control">
            <input class="input" type="hidden" formControlName="user_id">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button type="submit" class="button is-primary">Ajouter l'article</button>
        </div>
    </div>
</form>