<section class="hero is-fullheight-with-navbar is-primary"
    style="background-image: url('https://image.hm.com/content/dam/global_campaigns/season_09/ladies/1519x/new-1519X-3x2-1.jpg?imwidth=1260'); background-size: cover; background-position: center center;">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered myc-title">
                MYC
            </h1>
            <h2 class="subtitle has-text-centered">
                Manage Your Clothes
            </h2>
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <app-login></app-login>
                </div>
            </div>
        </div>
    </div>
</section>